.filtersContainer {
  background-color: #f1b963;
  width: 80%;
  padding: 2% 0 0 0;
  margin: 1% auto;
  border-radius: 10px;
}

.itemsContainer {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.checksContainers {
  width: 50%;
}

.titleF {
  margin: 0;
}

.alpHS {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.resetButton {
  border: none;
  margin: 1.2em auto;
  width: 30%;
  height: 3em;
  background-color: #f1b963;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 10px;
  transition: all 0.5s;
}

.resetButton:hover {
  transition: all 0.5s;
  transform: scale(1.05);
  background-color: #b68c4d;
  border-radius: 10px;
}
.checkBox {
  cursor: pointer;
  background-color: #6f6f6e;
  width: 2em;
  height: 2em;
  appearance: none;
  margin: 3%;
  border-radius: 10%;
  transition: all 0.5s;
}

.checkBox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-color: #f8f398;
  transition: all 0.5s;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

.dietsFilContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 15px;
  margin: 2% auto;
  width: 80%;
}

.selected {
  background-color: #b9b572;
  border: none;
  border-radius: 15px;
  width: 8em;
  height: 3em;
  transition: all 0.5s;
  transform: scale(1.3);
  font-size: 1.1em;
  font-weight: bold;
}

.unselected {
  background-color: #f8f398;
  border: none;
  border-radius: 15px;
  width: 8em;
  height: 3em;
  transition: all 0.5s;
  font-size: 1.1em;
  font-weight: bold;
}
